$rsBrand: #14a19c;
$rsPrimary: #a6deda;
$rsPrimaryDark: #41c8c3;
$rsPrimaryLight: #d9e9ea;
$rsSecondary: #002b49;
$rsTertiary: #00848d;
$rsSuccess: #2cc692;
$rsWarning: #ffa800;
$rsError: #e54852;
$rsErrorDark: firebrick;
$rsInfo: #4373c7;
$rsInfoLight: #747bff;
$rsInfoDark: #213547;
$rsGrey: #626b73;
$rsGreyLight: #96a4b0;
$rsGreyDark: #3d4246;
$rsWhite: #fffdfa;
$rsCream: #f2ede9;
$rsCreamLight: #fbf8f5;
$rsCreamDark: #dde1e2;
$rsBlack: #101314;

$rsYoutube: #FF0000;
$rsDarkBlue: #4a7588;

$rsPrimaryGradient: linear-gradient(
  0deg, 
  rgba(196,231,226,1) 0%, 
  rgba(196,231,226,1) 25%, 
  rgba(166,222,218,1) 82%
);

$rsPrimaryGradientTest: linear-gradient(
  0deg,
  $rsPrimaryLight 0%,
  $rsPrimaryLight 25%,
  $rsPrimaryDark 82%
);
