$msPrimary: #41c8c3;
$msSecondary: #002b49;
$msTertiary: #00848d;
$msSuccess: #2cc692;
$msWarning: #ffa800;
$msError: #e54852;
$msInfo: #4373c7;
$msInfoLight: #747bff;
$msInfoDark: #213547;
$msGrey: #626b73;
$msGreyLight: #96a4b0;
$msGreyDark: #3d4246;
$msWhite: #f7f7fb;
$msBlack: #000000;
$msBrand: #14a19c