@use "./colors" as *;

@import url("https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400&family=Raleway&family=Satisfy&family=Playfair+Display+SC:wght@900&display=swap");

:root {
  --ff-primary: "Raleway", Helvetica, sans-serif;
  --ff-secondary: "Gentium Basic", serif;
  --ff-accent: "Satisfy", cursive;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  body {
    font-family: var(--ff-primary);
    font-size: 1rem;
    input,
    button,
    textarea,
    select {
      /* Inherit fonts for inputs and buttons */
      font: inherit;
    }
    h1,
    h2,
    h3,
    h4 {
      font-family: var(--ff-secondary);
    }
    h1 {
      font-size: 3.2em;
      line-height: 1.1;
    }
    a {
      font-weight: 500;
      color: $msBlack;
      text-decoration: inherit;
      :hover {
        color: $msInfo;
      }
    }
    button {
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
    }
    .nav {
      font-family: var(--ff-primary);
      .nav__home {
        font-family: var(--ff-accent);
        font-size: 2.5em;
        font-weight: 700;
        color: $msBlack;
        :hover {
          color: $msInfo;
        }
      }
    }
    .main-title {
      font-size: clamp(2rem, 5vw + 1rem, 5rem);
      line-height: 1;
      color: white;
    }
    .big-header-text {
      font-family: "Playfair Display SC", serif;
      font-weight: 900;
      font-size: 6rem;
      color: rgba(0, 0, 10, 0.9);
      text-transform: uppercase;
    }
    .small-header-text {
      font-family: "Gentium Basic", serif;
      font-weight: 400;
      font-style: italic;
      font-size: 3rem;
      text-transform: lowercase;
    }
    .content__content {
      text-align: left;
    }
    .content__steps > li:before {
      font-family: "Playfair Display SC", serif;
      font-weight: 900;
      font-size: 1.75rem;
      text-align: center;
    }
    .content__tags,
    .content__intro1,
    .content__intro2 > p {
      font-family: "Gentium Basic", serif;
      font-weight: 800;
      font-size: 0.9rem;
      text-align: justify;
    }
  }
}

@media (min-width: 60em) {
  .big-header-text {
    text-align: center;
    font-size: 12vw;
  }

  .small-header-text {
    text-align: left;
    font-size: 4.5vw;
  }
}
