@use "../abstracts/colors" as *;

.card {
  aspect-ratio: 1 / 1.5;
  &__content {
    background: $msWhite;
    align-self: end;
    margin: 0.5rem 0.5rem 2rem;
    padding: 0.5rem;
    box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1);
  }
  &__img {
    width: 100%;
    aspect-ratio: 1 / 1.25;
    object-fit: cover;
  }
  &__title {
    font-size: 1.75rem;
    line-height: 1.1;
    color: $msErrorDark;
  }
  &__price,
  &__time{
    font-size: 1.25rem;
   }
}

@media (min-width: 60em) {
  .card {
    max-height: 420px;
    &__img {
      aspect-ratio: 1 / 1;
    }
    &.featured {
      max-height: 100%;
      grid-row: span 2;
      grid-column: span 2;
      .card__img {
        aspect-ratio: 1 / 1.25;
      }
      .card__title {
        font-size: 1.75rem;
      }
    }
  }

}
