@use "../abstracts/colors" as *;

.card {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $msCream;
    align-self: end;
    padding: 1.5rem 2rem;
    box-shadow: 0 .25rem .5rem rgb(0 0 0 / 0.15);
  }
  &__img {
    width: 100%;
    aspect-ratio: 1 / 1.25;
    object-fit: cover;
  }
  &__title {
    font-size: .9rem;
    line-height: 1.1;
    color: $msGreyDark;
  }
  &__price,
  &__time{
    font-size: 1.25rem;
   }
  .youtube {
    color: $msYoutube;
  }
}

@media (min-width: 60em) {
  .card {
    &__img {
      aspect-ratio: 1 / 1;
    }
    &.featured {
      grid-row: span 2;
      grid-column: span 2;
      .card__img {
        aspect-ratio: 1 / 1.25;
      }
      .card__title {
        font-size: 1.25rem;
      }
    }
  }

}
