@use "../abstracts/colors" as *;

.card {
  &__content {
    display: flex;
    // todo: revisit this; dislike this hack
    min-height: 20%;
    justify-content: space-between;
    align-items: center;
    background: $msCream;
    align-self: end;
    padding: 1.5rem 2rem;
    box-shadow: 0 .25rem .5rem rgb(0 0 0 / 0.15);
  }
  &__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

@media(min-width: 40em) {
  .card__img {
    aspect-ratio: 1 / 1.25;
  }
}

@media (min-width: 60em) {
  .card {
    &__img {
      aspect-ratio: 1 / 1;
    }
    &.featured {
      grid-row: span 2;
      grid-column: span 2;

      .card__title {
        font-size: 1.25rem;
      }
    }
  }

}
