@use '../abstracts/colors' as *;

nav.nav{
  display: flex;
  min-height: 64px;
  height: 100%;
  align-items: stretch;
  background-color: $msWhite;
  .nav__links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
  }
  .nav__home,
  .nav__link {
    display: inline-flex;
    padding: 0 1.2em;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 0.25s;
    &:hover {
      background-color: $msInfo;
      color: $msWhite;
    }
  }
  .nav__home{
    align-items: center;
  }
  .nav__link {
    align-items: center;
    height: 100%;
  }
}