@use '@/assets/scss/abstracts/colors' as *;

nav.nav{
  display: flex;
  min-height: 64px;
  height: 100%;
  align-items: stretch;
  border-bottom: 2px solid $msDarkBlue;
  .nav__home,
  .nav__link {
    display: inline-flex;
    padding: 1rem 0;
    border: 1px solid transparent;
    cursor: pointer;
    transition: color 0.25s;
    &:hover {
      color: $msWhite;
    }
  }
  .nav__home{
    // quick fix for the home button
    // todo: refactor min-width
    min-width: 200px;
    align-items: center;
  }
  .nav__links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
  }
  .nav__link {
    align-items: end;
    height: 100%;
    padding-left: 1em;    
    &:last-child{
      padding-left: .5em;
    }
    &.search{
      position: relative;
      padding-right: .75em;;
      &::after{
        content: "";
        background: $msBlack;
        width: 2px;
        height: 25px;
        position: absolute;
        right: -0.25em;
      }
    }
  }
}